# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Testing and coverage files
/coverage

# Production build files
/build
/dist

# Miscellaneous
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignoring specific files that are sensitive or environment-specific
.env
